<mat-drawer-container class="container">

  <mat-drawer class="drawer" mode="side" opened>
    <button mat-stroked-button color="primary" routerLink="/tcmHome">Home</button>
    <br>
    <button mat-stroked-button color="primary" routerLink="/reg-tc">Register Test Centre</button>
    <br>
    <button mat-stroked-button color="primary" routerLink="/record-to">Record Tester</button>
    <br>
    <button mat-stroked-button color="primary" routerLink="/manage-stock">Manage Test-Kit Stock</button>
    <br>
    <button mat-stroked-button color="primary" routerLink="/generate-testReport">Generate Test Report</button>
    <br>
    <button mat-stroked-button color="accent" (click)="onLogout()" routerLink="/home">Log Out</button>
  </mat-drawer>

  <mat-drawer-content>
    <h2>Manage Test-Kit Stock</h2>
    <br><br>
    <button class="btnNewKit" mat-button color="primary" routerLink="/newKit">Add New Stock</button>

    <button class="btnUpdKit" mat-button color="primary" routerLink="/updateKit">Update Stock</button>
  </mat-drawer-content>

</mat-drawer-container>