.container {
  background-color: aliceblue;
  width: auto;
  height: 80%;
  margin: 10px;
  border: 1px solid #555;
  text-align: center;
}

.radio {
  font-weight: 400;
  font-size: 20px;
}

.nameP {
  font-size: 20px;
  width: 50%;
}

.typeP {
  font-size: 20px;
  width: 50%;
}

.symptomsP {
  font-size: 20px;
  width: 50%;
}

.testDate {
  font-size: 20px;
  width: 50%;
}

.btnRegister {
  font-size: 20px;
  width: 20%;
}

button {
  width: 100%;
  height: 15%;
}