<mat-drawer-container class="container">

  <mat-drawer mode="side" opened>
    <button mat-stroked-button color="primary" routerLink="/testerHome">Home</button>
    <br>
    <button mat-stroked-button color="primary" routerLink="/rec-newTest">Record New Test</button>
    <br>
    <button mat-stroked-button color="primary" routerLink="/update-testResult">Update Test Result</button>

  </mat-drawer>

  <mat-drawer-content>
    <h2>Record New Test</h2>
    <br>

    <form (submit)="onAddTest(testForm)" #testForm="ngForm">
      <mat-form-field class="nameP">
        <input matInput type="text" name="patientName" ngModel required minlength="3" #patientName="ngModel"
          placeholder="Enter patient name">
        <mat-error *ngIf="patientName.invalid">Please enter Patient Name</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="typeP">
        <input matInput type="text" name="patientType" ngModel required minlength="3" #patientType="ngModel"
          placeholder="Enter patient type (Returnee,Quarantined,Close Contact,Infected,Suspected)">
        <mat-error *ngIf="patientType.invalid">Please enter Patient Type</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="symptomsP">
        <textarea matInput type="text" name="patientSymptoms" ngModel required minlength="3" #patientSymptoms="ngModel"
          placeholder="Enter patient symptoms">
            </textarea>
        <mat-error *ngIf="patientSymptoms.invalid">Please enter Patient Symptoms</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="testDate">
        <input matInput type="text" name="testDate" ngModel required minlength="3" #testDate="ngModel"
          placeholder="Enter test date">
        <mat-error *ngIf="patientSymptoms.invalid">Please enter Test Date</mat-error>
      </mat-form-field>
      <br>
      <button mat-flat-button color="primary" class="btnRegister" (click)="onAddRec()" type="submit">Record</button>
    </form>

  </mat-drawer-content>

</mat-drawer-container>