<mat-toolbar color="primary">
    <div>
        <button mat-raised-button color="primary" routerLink="/home">Covid 19 Tracer</button>
        <button mat-flat-button color="primary" routerLink="/tcmHome">Test Centre Manager</button>
        <button mat-flat-button color="primary" routerLink="/testerHome">Tester</button>
        <button mat-flat-button color="primary" routerLink="/patient">Patient</button>
    </div>
    <span class="flexExpand"></span>
    <div>
        <button mat-stroked-button color="accent" routerLink="/login">Log In</button>
        <button mat-stroked-button color="accent" routerLink="/register">Register</button>
    </div>
</mat-toolbar>