<mat-drawer-container class="container">
    <mat-drawer-content class="pretty">
        <h1>Welcome to Covid-19 Tracer</h1>
        <br>
        <p>
            This is a system that allows the health ministry to keep track of COVID-19 tests
            <br>
            that have been performed by the various test centres.
            <br>
        </p>


    </mat-drawer-content>
</mat-drawer-container>

<div class="link">
    <a href="https://www.worldometers.info/coronavirus/">Click here to check on the latest Covid-19 World Updates</a>
</div>
