<mat-drawer-container class="container">

  <mat-drawer mode="side" opened>
    <button mat-stroked-button color="primary" routerLink="/tcmHome">Home</button>
    <br>
    <button mat-stroked-button color="primary" routerLink="/reg-tc">Register Test Centre</button>
    <br>
    <button mat-stroked-button color="primary" routerLink="/record-to">Record Tester</button>
    <br>
    <button mat-stroked-button color="primary" routerLink="/manage-stock">Manage Test-Kit Stock</button>
    <br>
    <button mat-stroked-button color="primary" routerLink="/generate-testReport">Generate Test Report</button>
  </mat-drawer>

  <mat-drawer-content>
    <h3>Update Existing Test-Kit Stock</h3>

    <mat-accordion multi="true" *ngIf="stocks.length>0">
      <mat-expansion-panel *ngFor="let stock of stocks">
        <mat-expansion-panel-header>
          <p><b>Test-Kit ID: {{stock.id}}</b></p>
        </mat-expansion-panel-header>
        <p><b>Kit Name: </b>{{stock.kitName}}</p>
        <p><b>Number of Stock: </b>{{stock.numStock}}</p>
        <mat-action-row>
          <button mat-flat-button color="warn" (click) = "onDelete(stock.id)">Delete</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

    <p class="info-text mat-body-1" *ngIf="stocks.length == 0"> No stock added yet </p>
    <br>
    <button class="btnAddStock" mat-stroked-button color="accent" routerLink="/newKit">Add New Stock</button>

  </mat-drawer-content>

</mat-drawer-container>