
.container {
  background-color: aliceblue;
  width: 100%;
  height: 80%;
  margin: 10px;
  border: 1px solid #555;
  text-align: center;
}

.officerFullName{
  font-size: 20px;
  width: 50%;
}

.officerUsername{
  font-size: 20px;
  width: 50%;
}

.officerPassword{
  font-size: 20px;
  width: 50%;
}

.btnRecord{
  font-size: 20px;
  width: 20%;
}

.btnManage{
  font-size: 20px;
  width: 20%;
}