<mat-drawer-container class="container">

  <mat-drawer class="drawer" mode="side" opened>
    <button mat-stroked-button color="primary" routerLink="/patient">Home</button>
    <br>
    <button mat-stroked-button color="primary" routerLink="/view-testHistory">View Test History</button>
    <br>
    <button mat-stroked-button color="accent" (click)="onLogout()" routerLink="/home">Log Out</button>
  </mat-drawer>

  <mat-drawer-content class="pretty">
    <h1>Welcome Patient!</h1>
    <br>
    <p>
      From here, you are able to view your own test history.
      <br>
    </p>
  </mat-drawer-content>

</mat-drawer-container>
