<mat-drawer-container class="container">

  <mat-drawer class = "drawer" mode="side" opened>
    <button mat-stroked-button color="primary" routerLink="/tcmHome">Home</button>
    <br>
    <button mat-stroked-button color="primary" routerLink="/reg-tc">Register Test Centre</button>
    <br>
    <button mat-stroked-button color="primary" routerLink="/record-to">Record Tester</button>
    <br>
    <button mat-stroked-button color="primary" routerLink="/manage-stock">Manage Test-Kit Stock</button>
    <br>
    <button mat-stroked-button color="primary" routerLink="/generate-testReport">Generate Test Report</button>
    <br>
    <button mat-stroked-button color="accent" (click)="onLogout()" routerLink="/home">Log Out</button>
  </mat-drawer>

  <mat-drawer-content class="pretty">
    <h1>Welcome Test Centre Manager!</h1>
    <br>
    <p>
            From here, you are able to register a test centre, record a new tester, manage the test kit stock, and generate a test report.
            <br>
    </p>
  </mat-drawer-content>

</mat-drawer-container>

​
