<mat-toolbar color = "primary">
  <button mat-flat-button color= "primary" routerLink= "/tcmHome">C19</button>
  <button mat-flat-button color= "primary" routerLink= "/reg-tc" >Register Test Centre</button>
  <button mat-flat-button color= "primary" routerLink= "/record-to">Record Tester</button>
  <button mat-flat-button color= "primary" routerLink= "/manage-stock">Manage Test-Kit Stock</button>
  <button mat-flat-button color= "primary" routerLink= "/generate-testReport">Generate Test Report</button>
  <button mat-flat-button color= "warn" >Log Out</button>
</mat-toolbar>

<!--mat-accordion multi = "true" *ngIf= "registers.length>0">
    <mat-expansion-panel *ngFor= "let register of registers">
      <mat-expansion-panel-header>
         <p>testCentreID()</p>
      </mat-expansion-panel-header>
      <p>Centre Name: {{register.centreName}}</p>
      <p>Centre Hotline: {{register.centreTel}}</p>
      <p>Centre Address: {{register.centreAdd}}</p>
    </mat-expansion-panel>

    <mat-action-row>
      <button mat-button-color="primary">Edit</button>
      <button mat-button-color="warn">Delete</button>
    </mat-action-row>
</mat-accordion-->

<h3>List of Testers</h3>
<br>
<mat-accordion multi = "true" *ngIf= "records.length>0">
    <mat-expansion-panel *ngFor= "let record of records">
      <mat-expansion-panel-header>
        <p><b>Tester ID: </b></p>
     </mat-expansion-panel-header>
      <p><b>Tester Full Name: </b>{{record.officerFullName}}</p>
      <p><b>Tester Username: </b> {{record.officerUsername}}</p>
      <p><b>Tester Password: </b> {{record.officerPassword}}</p>
    </mat-expansion-panel>

    <mat-action-row>
      <button mat-button color="primary">Edit</button>
      <button mat-button color="warn">Delete</button>
    </mat-action-row>

  </mat-accordion>
  <p class= "info-text mat-body-1" *ngIf= "records.length == 0"> No post added yet </p>

  <div class="wrapper">
    <button mat-button color= "primary" routerLink = "/record-to">Back to Record</button>
  </div>

