button{
  width: 100%;
  height: 15%;
}

.container {
  background-color: aliceblue;
  width: auto;
  height: 80%;
  margin: 10px;
  border: 1px solid #555;
  text-align: center;
}

  .info-text{
    font-style: italic;
    color: red;
    font-weight: bold;
    font-size: large;
  }

  .aSize{
    height: 100%;
    width: 100%;
  }

.wrapper {
  text-align: center;
}

.btnNewTester{
  font-size: 15px;
  width: 20%;
  height: auto;
}