.container {
  background-color: lavenderblush;
  width: auto;
  height: 85%;
  margin: 10px;
  border: 1px solid #555;
  text-align: center;
  padding-top: 100px;
}
/* Add a hover effect for buttons */

button:hover {
  opacity: 0.8;
}

/* Add padding to containers */

.register{
  text-align: center;
}

.name {
  font-size: 20px;
  width: 50%;
}

.username {
  font-size: 20px;
  width: 50%;
}

.password {
  font-size: 20px;
  width: 50%;
}

.btnLogin{
  font-size: 20px;
  width: 20%;
}