.container {
  background-color: beige;
  width: auto;
  height: 85%;
  margin: 10px;
  border: 1px solid #555;
  text-align: center;
}

.kitName{
  font-size: 20px;
  width: 50%;
}

.numStock{
  font-size: 20px;
  width: 50%;
}

.btnSave{
  font-size: 20px;
  width: 20%;
}

.btnUpdate{
  font-size: 20px;
  width: 20%;
}

button{
  width: 100%;
  height: 15%;
}

.drawer{
  width: 15%;
}
